{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}

  <style>
.table_a{ color:#F00; text-align: center;display: inline-block;font-size: 20px; font-weight:bold; width: 200px; }

.table_a_name{ color:#000; text-align: center;display: inline-block;font-size: 14px; font-weight:bold; width: 100px; }

.table_b{ color:#00f; text-align: center;display: inline-block;font-size: 20px; font-weight:bold; width: 200px; }

.table_b_name{ color:#000; text-align: center;display: inline-block;font-size: 14px; font-weight:bold; width: 100px; }
</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <div align="center">
                    <h4 style="color:#F00;font-weight:bold;">A</h4>
                </div>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <ul id=table_A class="list-group">
              <li class="list-group-item"><span class="table_a_name">工单号:</span> <span id=ticketNo_A class="table_a"></span></li>
              <li class="list-group-item"><span class="table_a_name">炉号:</span> <span id=heatNo_A class="table_a"></span></li>
              <li class="list-group-item"><span class="table_a_name">数量:</span> <span id=quantity_A class="table_a"></span>pcs</li>
              <li class="list-group-item"><span class="table_a_name">产品高度:</span> <span id=productHeight_A class="table_a"></span>mm</li>
              <li class="list-group-item"><span class="table_a_name">延长环高度:</span> <span id=ringHeight_A class="table_a"></span>mm</li>
              <li class="list-group-item"><span class="table_a_name">工号:</span> <span id=jobNo_A class="table_a"></span></li>
              <li class="list-group-item"><span class="table_a_name">日期时间:</span> <span id=datetime_A class="table_a"></span></li>
            </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <div align="center">
                    <h4 style="color:#00f;font-weight:bold;">B</h4>
                </div>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">


            <ul id=table_B class="list-group">
              <li class="list-group-item"><span class="table_b_name">工单号:</span> <span id=ticketNo_B class="table_b"></span></li>
              <li class="list-group-item"><span class="table_b_name">炉号:</span> <span id=heatNo_B class="table_b"></span></li>
              <li class="list-group-item"><span class="table_b_name">数量:</span> <span id=quantity_B class="table_b"></span>pcs</li>
              <li class="list-group-item"><span class="table_b_name">产品高度:</span> <span id=productHeight_B class="table_b"></span>mm</li>
              <li class="list-group-item"><span class="table_b_name">延长环高度:</span> <span id=ringHeight_B class="table_b"></span>mm</li>
              <li class="list-group-item"><span class="table_b_name">工号:</span> <span id=jobNo_B class="table_b"></span></li>
              <li class="list-group-item"><span class="table_b_name">日期时间:</span> <span id=datetime_B class="table_b"></span></li>
            </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

<script type="text/javascript">
    
    
     //setInterval配合ajax实现实时刷新前台数据的功能

        setInterval(function () {

            $.ajax({
                type: "get",
                url: "/record",
                success: function (msg) {
                  console.log(msg.record_latest.record_A)
                  console.log(msg.record_latest.record_B)
                  $("#ticketNo_A").html(msg.record_latest.record_A.ticketNo)
                  $("#heatNo_A").html(msg.record_latest.record_A.heatNo)
                  $("#quantity_A").html(msg.record_latest.record_A.quantity)
                  $("#productHeight_A").html(msg.record_latest.record_A.productHeight)
                  $("#ringHeight_A").html(msg.record_latest.record_A.ringHeight)
                  $("#jobNo_A").html(msg.record_latest.record_A.jobNo)
                  $("#datetime_A").html(msg.record_latest.record_A.datetime)                                                             
                  $("#ticketNo_B").html(msg.record_latest.record_B.ticketNo)
                  $("#heatNo_B").html(msg.record_latest.record_B.heatNo)
                  $("#quantity_B").html(msg.record_latest.record_B.quantity)
                  $("#productHeight_B").html(msg.record_latest.record_B.productHeight)
                  $("#ringHeight_B").html(msg.record_latest.record_B.ringHeight)
                  $("#jobNo_B").html(msg.record_latest.record_B.jobNo)
                  $("#datetime_B").html(msg.record_latest.record_B.datetime)                  
                
                },

                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    console.log("错误信息;" + XmlHttpRequest.status);
                }

            })

        }
, 1000)

                   
    </script>


{% endblock javascripts %}



