{% extends "base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>表单录入</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">


        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Form</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left"  id ="A_form" method='post'>

                <div class="col-md-6 col-xs-12">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工单号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" name='ticketNo' placeholder="ticketNo_A">
                      <!-- {{ form.ticketNo }} -->
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">炉号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.heatNo }} -->
                      <input type="text" class="form-control" name='heatNo' placeholder="heatNo_A">

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">数量</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.quantity }} -->
                      <input type="text" class="form-control" name='quantity' placeholder="quantity_A">
                      pcs
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">产品高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.productHeight }} -->
                      <input type="text" class="form-control" name='productHeight' placeholder="productHeight_A">
                      mm
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">延长环高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.ringHeight }} -->
                      <input type="text" class="form-control" name='productHeight' placeholder="productHeight_A">
                    mm
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.jobNo }} -->
                      <input type="text" class="form-control" name='jobNo' placeholder="jobNo_A">

                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-xs-12">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工单号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" name='ticketNo_B' placeholder="ticketNo_B">
                      <!-- {{ form.ticketNo }} -->
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">炉号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.heatNo }} -->
                      <input type="text" class="form-control" name='heatNo_B' placeholder="heatNo_B">

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">数量</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.quantity }} -->
                      <input type="text" class="form-control" name='quantity_B' placeholder="quantity_B">
                      pcs
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">产品高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.productHeight }} -->
                      <input type="text" class="form-control" name='productHeight_B' placeholder="productHeight_B">
                      mm
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">延长环高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.ringHeight }} -->
                      <input type="text" class="form-control" name='ringHeight_B' placeholder="ringHeight_B">
                    mm
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- {{ form.jobNo }} -->
                      <input type="text" class="form-control" name='jobNo_B' placeholder="jobNo_B">

                    </div>
                  </div>
                </div>

              <br />

              <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
                    <button type="reset" class="btn btn-primary">Reset</button>

                    <button type="submit" class="btn btn-success" onclick=ajaxForm()> Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>


    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>

  <script type="text/javascript">
    function ajaxForm(){
            varifyinput();
            var form= new FormData(document.getElementById("A_form"));
            $.ajax({
                url:"{{ url_for('forms_blueprint.form') }}",
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(data){
                        create_table(data.result);
                },
                error:function(e){
                        alert("没有取得数据");
                }
            })
        }

    $("#demo_form").submit(function(e){
      e.preventDefault();

        $.ajax({
            url:"/forms/form",
            type:'POST',
            data: $(this).serialize(),   // 这个序列化传递很重要
            headers:{
                "X-CSRF-Token": getCookie('csrf_token')
            },
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.error){
                    console.log(resp.errmsg);
                }
            }
        })
    });

  </script>
{% endblock javascripts %}
