{% extends "base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

        <div>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      {% for category, message in get_flashed_messages(with_categories=True) %}
                      <div class="alert alert-success alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h4><i class="icon fa fa-check"></i> 操作成功!</h4>
                              <p class="flash">{{ 'Error: ' if category == 'error' else '' }}{{ message }}</p>
                      </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="row">


        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>表单录入</h2>

              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              
              <div class="clearfix"></div>

            </div>
            <div class="x_content">

              <form class="form-horizontal form-label-left"  id ="form" method='post' action="/forms/form">
              {{ form.csrf_token }}

                <div class="col-md-6 col-xs-12">

                  <div align="center">
                    <h3>A</h3>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工单号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      {{ form.ticketNo_A }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">炉号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.heatNo_A }}
                   

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">数量</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.quantity_A }}
                    
                      pcs
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">产品高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.productHeight_A }}
                      
                      mm
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">延长环高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.ringHeight_A }}
                      
                    mm
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.jobNo_A }}
                      

                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-xs-12">

                  <div align="center">
                    <h3>B</h3>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工单号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      
                      {{ form.ticketNo_B }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">炉号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.heatNo_B }}


                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">数量</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.quantity_B }}
  
                      pcs
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">产品高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.productHeight_B }}
                      mm
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">延长环高度</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.ringHeight_B }}
                    mm
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">工号</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{ form.jobNo_B }}


                    </div>
                  </div>
                </div>

    

              <!-- <div class="ln_solid"></div> -->
              <div class="ln_solid"></div>
                <div class="col-md-12 col-xs-12" align="right">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">取消 </button>
                    <button type="reset" class="btn btn-primary">重设</button>
                    <input type="submit" class="btn btn-success" value="提交">
<!--                     <button type="submit" class="btn btn-success" onclick=ajaxForm()> Submit</button> -->
                  </div>
                </div>

              </form>


            </div>
          </div>
        </div>



      </div>


    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  

  </script>
{% endblock javascripts %}
